html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: arial, helvetica, sans-serif;
    background-color: #ccc;
}
.navegacion {
    width: 98%;
    margin: 0 auto;
}  
@media only screen and (min-width: 480px) {
    .navegacion {
    width: 95%;
    }  
}

@media only screen and (min-width: 768px) {
    .navegacion {
    width: 100%;
    }  
}
@media only screen and (min-width: 992px) {
    .navegacion {
    width: 100%;
    max-width: 1100px;
    }  
}

/*barra*/
div.barra{
 background-color: #353535;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 102px;
}

div.logo {
    width: 80%;
    margin:10px auto;
    display:block;
}
div.logo img {
    width: 50%;
    margin:10px auto;
    display:block;
}
@media only screen and (min-width: 768px) {
    div.logo {
    width: 35%;
    }  
}
nav.navegacion-principal a {
    font-family: 'Osawald', sans-serif;
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease;
}
nav.navegacion-principal a:hover {
    background-color: #fe4918;
}
nav.navegacion-principal a:last-child {
    border: 2px solid #fe4918;
    color: #fe4918;
}
nav.navegacion-principal a:last-child:hover {
    color: #ffff;
}

@media only screen and (min-width: 768px) {
    nav.navegacion-principal {
    text-align: right;
    } 
    nav.navegacion-principal a {
        margin-right: 15px;
        padding: 10px 15px;
        display: inline-block;
    }
}
@media only screen and (min-width: 480px) {
    nav.navegacion-principal {
    text-align: right;
    } 
    nav.navegacion-principal a {
        margin-right: 15px;
        padding: 10px 15px;
        display: inline-block;
    }
}

.contenedor {
    margin: 0 auto;
    width: 800px;
}

div.hero img {
    padding: 10px;
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin: 30px 0;
}

ul.lista-productos {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.lista-productos li {
    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;
}

ul.lista-productos li:nth-child(2n+1) {
    clear: both;
}

ul.lista-productos li img {
    border: 10px solid #9c9c9c;
    height: 243px;
}

ul.lista-productos li img:hover {
    border: 10px solid #636363;
}

ul.lista-productos li p {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
}

ul.lista-productos li p span {
    font-size: 40px;
    color: #570a67;
}
span#cadaUno {
    font-size: 16px;
    color: black;
}
.boton {
    background-color: #FFD700;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
}

.boton:hover {
    color: #ffff;
}

nav.navegacion {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

#tachado {
    font-size: 14px
}
footer{
    background-color: #636363;
    padding-top: 40px;
    margin-top: 20px;
}
footer .contenido{
    color: #ffff;
    padding: 0px 20px;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
}
footer .contenido h3 {
    color: #000;
    font-size: 2em;
    margin-bottom: 10px;
}
p.copyrigth {
    background-color: #2e2e2e;
    color: #ffff;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}
h2#slogan {
    font-family: 'Source Code Pro', serif;
    font-size: 2.5em;
} h2 span {
    color: #FF5733;
}
/*Responsive*/
   @media only screen and (min-width:480px) {
     .contenedor {
       width: 90%;
     }
   }
   @media only screen and (min-width:768px) {
     .contenedor {
       width: 90%;
     }
   }
   @media only screen and (min-width:992px) {
     .contenedor {
       width: 90%;
       max-width: 1100px;
     }
   }
   span#talla {
    font-size: .8em;
    color: #FF5733;
   }
   audio {
    width: 100%;
   }